.container{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section{
    background-color:#2a2626;
    width:23%;
    border-radius: 10px;
 
}
.logo img{
    margin-top: 30px;
    border-radius: 50%;
    width:20%;
    display:block;
  margin-left:auto;
  margin-right: auto;

   
}
.text{
    text-align: center;
    color:rgb(223, 218, 218);
}
.group{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
button{
   
}
.text1{
    width:80%;
    padding: 20px;
    border-radius: 10px;
    border:none;
    outline:none;
    background-color:#313030;
    color:white;
}
.text1:hover{
    background-color: greenyellow;
    color:black;
}
@media only screen and (max-width: 600px) {
    .text1 {
        width: 100%; 
    }
}